@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.94);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  font-family: 'Work Sans', sans-serif;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  min-height: 100vh;
  background-color: #202020;
}

#root {
  width: 100%;
  min-height: 100vh;
  padding-top: 5rem;
}

section {
  padding: 1rem 3rem;
}


main {
  margin-top: 2.5rem;
  padding: 1rem 4rem;
}

.formbox {
  padding: 2rem;
  margin: 2rem 8rem;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  color: white;
}

table tr th, table tr td {
  padding: .5rem;
  text-align: left;
}

table tr:nth-child(2) th {
  background-color: #555555;
  color: white;
}

table tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.1)
}

table tr td:nth-child(1) { width: 6%; }
table tr td:nth-child(2) { width: 10%; }
table tr td:nth-child(3) { width: 10%; }
table tr td:nth-child(4) { width: 8%; }
table tr td:nth-child(5) {
  font-size: .8rem;
  width: auto;
}
table tr td:nth-child(6) { width: 160px; }

table tr td:nth-child(6) div { 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


table tr td:nth-child(1) div {
  width: 100%;
  padding-bottom: 66%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .2s ease-in-out;
}

table tr td:nth-child(1) div:hover {
  transform: scale(1.5);
}


h1 {
  font-size: 1.7rem;
  color: white;
  border-left: .4rem solid rgb(158, 104, 212);
  border-radius: .8rem;
  padding-left: 1rem;
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
  color: white;
  padding-left: 1.4rem;
  font-weight: 500;
  opacity: .5;
}


.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  margin-top: 2.5rem;
  padding: 1rem 4rem;
}

.center {justify-content: center !important; }

.flip-card {
  background-color: transparent;
  width: 275px;
  height: 275px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-card-front img {
  width: 300px;
  height: 300px;
}

.flip-card-back {
  padding: 0;
  background-color: rebeccapurple;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  background-color: rgb(74, 33, 115);
  color: white;
  padding: 1rem 1rem 0 1rem;
}

.flip-card-back h3 {
  font-size: 1rem;
  line-height: 1rem;
  background-color: rgb(74, 33, 115);
  color: white;
  padding: .3rem 1rem 1rem 1rem;
  font-weight: 400;
}

.flip-card-back p {
  font-size: .8rem;
  line-height: .9rem;
  padding: .66rem 1rem 1rem 1rem;
  font-weight: 500;
}





.button {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 5px;
  color: rebeccapurple;
  background-color: white;
  border: 1px solid rebeccapurple;
  outline: none;
  font-size: .8rem;
  line-height: .8rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.button:hover {
  background-color: rebeccapurple;
  color: white;
}

.formgroup {
  width: 500px;
  margin-bottom: .5rem;
}

.formgroup label {
  display: block;
  font-size: .8rem;
  color: #eeeeee;
}

.formgroup input, .formgroup textarea, .formgroup select {
  display: block;
  font-size: 1rem;
  background-color: #2e2e2e;
  padding: .35rem .75rem;
  border: 1px solid #555555;
  color: white;
  border-radius: 3px;
}

.formgroup input:focus, .formgroup textarea:focus {
  outline: none;
  border: 1px solid rebeccapurple;
}


.filtergroup {
  padding: .5rem 3rem;
  background-color: #ffffff;
  position: fixed;
  top: 5rem;
  left: 0rem;
  height: 2.5rem;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 1.5rem 1.5rem #202020;
}

.filtergroup label {
  font-size: .8rem;
  font-weight: 500;
  color: #565656;
}

.filtergroup .filter {
  font-size: 1rem;
  color: #222222;
  border: none;
  padding: .15rem 1rem;
  outline: none;
  color: rebeccapurple;
  background-color: white;
  font-weight: 600;
}

.filtergroup .filter::placeholder {
  color: rebeccapurple;
  opacity: .7;
}

.filtergroup .filterbutton {
  color: rebeccapurple;
  border: 1px solid rgba(102, 51, 153, .5);
  background-color: white;
  font-size: .8rem;
  font-weight: 400;
  padding: .15rem .35rem;
  margin-left: .2rem;
  cursor: pointer;
  border-radius: .2rem;
}

.filtergroup .filterbutton:hover {
  background-color: rebeccapurple;
  border: 1px solid rebeccapurple;
  color: white;
}

.filtergroup .active {
  background-color: rebeccapurple;
  border: 1px solid rebeccapurple;
  color: white;
}


/* CatDatasheet */

.cat-datasheet {
  height: calc(100vh - 5rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.cat-datasheet .image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cat-datasheet .cat-data {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #202020;
  color: white;
  padding: 1rem 3rem;
}

.cat-datasheet .cat-data h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.cat-datasheet .cat-data table {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.cat-datasheet .cat-data tr td {
  padding: .5rem 0;
  background: none !important;
}

.cat-datasheet .cat-data p {
  font-size: .9rem;
}

.cat-datasheet .breeder-data {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #262626;
  color: white;
  padding: 1rem 3rem;
  overflow-y: auto;
}

.cat-datasheet .breeder-data h2 {
  font-weight: 600;
  margin-bottom: .5rem;
}

.cat-datasheet .breeder-data table {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.cat-datasheet .breeder-data tr td {
  padding: .05rem 0;
  background: none !important;
}

.cat-datasheet .breeder-data p {
  font-size: .9rem;
}


.breeder-card {
  padding: 1rem 2rem;
  background-color: rgba(0, 0,0, .05);
  margin-bottom: 1rem;
  transition: all .15s ease-in-out;
  color: white;
  font-size: .9rem;
}

.breeder-card h2 {
  font-size: 1.1rem;
}

.breeder-card table {
  width: 100% !important;
}

.breeder-card table tr td {
  padding: .15rem .3rem;
}

.w-100 { width: 100%; }
.w-400px { width: 400px; }

.breeder-card:hover {
  background-color: rebeccapurple;
  transform: scale(1.05);
}


/* EDITOR NAV */

.editor-nav {
  position: fixed;
  bottom: 0rem;
  right: 1.5rem;
  background-color: rebeccapurple;
  min-width: 60px;
  min-height: 60px;
  z-index: 9999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: all .15s ease-in-out;
  overflow: hidden;
  box-shadow: -.5rem -.5rem 2rem #202020;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.editor-nav i {
  display: block;
  color: white;
  font-size: 1.5rem;
}

.editor-nav:hover i {
  display: none;
}

.editor-nav div {
  display: none;
}

.editor-nav:hover {
  cursor: default;
}

.editor-nav:hover div {
  display: block;
}

.editor-nav:hover div a {
  display: block;
  color: white;
  font-weight: 500;
  padding: .35rem 1.5rem;
  border-radius: .2rem;
}

.editor-nav:hover div a i {
  font-size: 1rem;
  color: white;
  display: inline;
  margin-right: .5rem;
}

.editor-nav:hover div a:hover {
  display: block;
  background-color: white;
  color: rebeccapurple;
}

.editor-nav:hover div a:hover i {
  font-size: 1rem;
  color: rebeccapurple;
  display: inline;
}

.editor-nav:hover div h2 {
  display: block;
  color: white;
  background-color: rgb(77, 36, 118);
  padding: .35rem 1.5rem;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3rem;
}